.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    font-size: 1.2em; 
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    color: #004d7a;  /* Dark blue color for emphasis */
}

.video-container {
    width: 100%;
    max-width: 800px;  /* Max width to maintain video's quality */
    margin-bottom: 20px;
}

.content-text {
    font-size: 1.1em;
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;   /* Centering the text block */
}
